@{
    ViewBag.Title = "Series";
}

<style>
    .new {
        width: 100%;
        height: 300px;
        background-size: cover;
        margin: 10px;
    }

    .newfull {
        width: 100%;
        height: 500px;
        background-size: cover;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .clearfix {
        overflow: auto;
    }

    .img2 {
        float: left;
        margin-right: 10px;
    }

    /* FOR THE BODY TO HAVE 2 COLUMNS */
    .column {
        float: left;
        padding: 10px;
    }

        /* Left and right column */
        .column.side {
            width: 25%;
            position: sticky;
            top: 0;
        }

        /* Middle column */
        .column.middle {
            width: 75%;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* FOR THE HEADER PICTURES TO FLOATS */
    .column1 {
        float: left;
        padding: 10px;
    }

    /* Left and right column */
    .column.side1 {
        width: 30%;
    }

    /* Middle column */
    .column.middle1 {
        width: 40%;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<div class="jumbotron" style="position:relative; background-color:black; align-content:center;padding-top:5px; padding-bottom:15px;">

    <h2 style="font-style:italic;font-size:25px; text-align:center;">The #1 Series Site</h2>

    <div class="row">
        <div class="column side1">
            <img src="~/Content/Image/pexels-photo-633409.jpeg" class="new" />
        </div>

        <div class="column middle1">
            <img src="~/Content/Image/pexels-photo-205316.png" class="new" />
        </div>

        <div class="column side1">
            <img src="~/Content/Image/pexels-photo.jpg" class="new"/>
        </div>
    </div>
</div>

<p>
    <h4>
        As a Human who has lived and walked the face of the earth, movies are a part of our lives:
        wether it's ours or other's: either it's real or imaginative.
        This site offers you option that suits all mood you experience.
    </h4>
</p>

<h2 style="font-family:Algerian; font-size:25px; text-align:center;">ENJOYY!!!</h2>

<div class="row">
    <div class="column middle">
        <div class="clearfix">
            <h2>#20.Suits</h2>
            <img class="img2" src="~/Content/Image/GJJhYpD2_400x400.jpg" width="250" height="170" />
            <p><b>Genre: Magical, Action, Fantasy.</b></p>
            <p><b>Year:2002-2014</b></p>
            <p><b>Rating:9/10</b></p>
            <p>
                <b>Story</b>: As a Human who has lived and walked the face of the earth, movies are a part of our lives:
                wether it's ours or other's: either it's real or imaginative.
                This site gives you the best evergreen movies to have ever been directed and produced.
            </p>
        </div>
        <hr />

        <div class="clearfix">
            <h2>#19. The Mentalist </h2>
            <img class="img2" src="~/Content/Image/GJJhYpD2_400x400.jpg" width="250" height="170" />
            <p><b>Genre: Magical, Action, Fantasy.</b></p>
            <p><b>Year:2002-2014</b></p>
            <p><b>Rating:9/10</b></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum...
        </div>
        <hr />

        <div class="clearfix">
            <h2>#18. Into The Badlands</h2>
            <img class="img2" src="~/Content/Image/GJJhYpD2_400x400.jpg" width="250" height="170" />
            <p><b>Genre: Magical, Action, Fantasy.</b></p>
            <p><b>Year:2002-2014</b></p>
            <p><b>Rating:9/10</b></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum...
        </div>
        <hr />

        <div class="clearfix">
            <h2>#17. The Witcher</h2>
            <img class="img2" src="~/Content/Image/GJJhYpD2_400x400.jpg" width="250" height="170" />
            <p><b>Genre: Magical, Action, Fantasy.</b></p>
            <p><b>Year:2002-2014</b></p>
            <p><b>Rating:9/10</b></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum...
        </div>
        <hr />

        <div class="clearfix">
            <h2>#16. The Queen's Gambit</h2>
            <img class="img2" src="~/Content/Image/GJJhYpD2_400x400.jpg" width="250" height="170" />
            <p><b>Genre: Magical, Action, Fantasy.</b></p>
            <p><b>Year:2002-2014</b></p>
            <p><b>Rating:9/10</b></p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum...
        </div>
        <hr />

        <div>
            <img src="~/Content/Image/pexels-photo-459203.jpeg" class="newfull" />
        </div>
        <hr />
    </div>

    <div class="column side">
        <h2 style="font-style:oblique; font-family:'Californian FB'">#Honorary Lists</h2>
        <p>#100.Prison Break(1999)</p>
        <p>#99. 24(1988)</p>
        <p>#98. Game of Thrones(2011)</p>
        <p>#97. The Bodyguard(2010)</p>
        <p>#96. Tom Clancy: Jack Ryan(2006)</p>
        <p>#95. See(1999)</p>
        <p>#94. Sense 8(1988)</p>
        <p>#93. Gotham(2011)</p>
        <p>#92. Marvel's DareDevil(2010)</p>
        <p>#91. Marvel's The Punisher(2006)</p>
        <p>#90. Marvel's IronFist(1999)</p>
        <p>#89. Marvel's Luke Cage(1988)</p>
        <p>#88. Watchmen(2011)</p>
        <p>#87. The Originals(2010)</p>
        <p>#86. Vampires Dairies(2006)</p>

    </div>
</div>
